:root {
  --color-error: red;
}

.input-error {
  border-color: var(--color-error);
}

.input-error-message {
  color: var(--color-error);
}

.error-alert {
  color: var(--color-error);
}
div.student-item{
  background-color: lightgray;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  width: 215px;
  border: 2px solid black;
}
#students-list{
  display: flex;
  flex-wrap: wrap;
}